.header{
    z-index: 111;
    position: sticky;
    top: 0px;
    background-color: #131313;
    padding: 20px;
    .logo{
        a{
            display: inline-block;
            h3{
                color: white;
                transition: .5s;
            }

            h3:hover{
                color:#F91A40;
            }
        }
       
    }

    .nav{
        a{
            display: inline-block;

            font-size: 24px;
            margin-right: 30px;
            transition: .5s;
            color: #F91A40;
            padding: 1px 10px;
            border: 1px solid transparent;
            border-radius: 0 10px 0 10px;


        }

        a:hover{
            color: white;
            border: 1px solid white;
            border-radius: 10px 0px 10px 0px;


        }
    }

    .basket{
        display: flex !important;
        justify-content: center !important;
        a{
            display: inline-block;

            i{
                font-size: 24px;
                margin: 0 10px;
                color: #F91A40;
                transition: 0.5s;
            }

            i:hover{
                color: white;
            }
        }

        #menu{
            display: none;
        }
    }
}


@media screen and (max-width: 1260px) {
    .header {

        .logo{
            width: 50%;            
        }

        .basket{
            justify-content: end !important;
            width: 50%;
        }
        #menu{
            display: inline !important;
        }
        .nav{
            display: none;
        }
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;

    }
}
